@model OpenLibraryBook
<article class="prose">
    <h1>Find a Book</h1>
</article>
<form method="post" asp-controller="MyBooks" asp-action="AddPOST">
    <input name="title" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    <button type="submit" class="btn btn-active btn-secondary">Search</button>
</form>

@if (Model!= null)
{
    @if (Model.docs != null)
    {

        var item = Model.docs[0];
        <article class="prose">
            <p>@item.title
            @item.author_name[0]
            @item.ddc_sort
            @item.ratings_average</p>
        </article>

        <img src="@Model.bookCoverUrl" alt="@Model.docs[0].title"/>
        <button class="btn btn-primary">I have read this book</button>
        
        
    }
    else
    {
        <article class="prose">
            <h4>Book cannot be found</h4>
        </article>
    }
}
else
{
    <article class="prose">
        <h4>Book cannot be found</h4>
    </article>
}
