@model CombinedUserBookOpenLibrary
@* <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script> *@
<article class="prose">
    <h1>Find a Book</h1>
</article>
<form method="post" asp-controller="MyBooks" asp-action="FindPOST">
    <input name="title" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    <button type="submit" class="btn btn-active btn-secondary">Search</button>
</form>

@if (Model!= null)
{
    @if (Model.OpenLibraryBook.docs != null)
    {

        var item = Model.OpenLibraryBook.docs[0];
        <article class="prose">
            <p>@item.title
            @item.author_name[0]
            @item.ddc_sort
            @item.ratings_average</p>
        </article>

        <img src="@Model.OpenLibraryBook.bookCoverUrl" alt="@Model.OpenLibraryBook.docs[0].title"/>
        @* <button class="btn btn-primary">I have read this book</button> *@
        
        <!-- form that sends user info about the book to add to the database -->
        <form method="post" asp-controller="MyBooks" asp-action="AddPost">
            @* <div class="rating"> *@
            @*     <input type="radio" name="rating-1" class="mask mask-star" /> *@
            @*     <input type="radio" name="rating-1" class="mask mask-star" checked="checked" /> *@
            @*     <input type="radio" name="rating-1" class="mask mask-star" /> *@
            @*     <input type="radio" name="rating-1" class="mask mask-star" /> *@
            @*     <input type="radio" name="rating-1" class="mask mask-star" /> *@
            @* </div> *@
            @* <input type="text" asp-for="UserBook.Notes" value="high five" /> *@
            @* <!-- date picker using flowbite --> *@
            @* <div id="date-range-picker" date-rangepicker class="flex items-center"> *@
            @*     <div class="relative"> *@
            @*         <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"> *@
            @*             <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"> *@
            @*                 <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/> *@
            @*             </svg> *@
            @*         </div> *@
            @*         <input asp-for="UserBook.DateStarted" id="datepicker-range-start" name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date start"> *@
            @*     </div> *@
            @*     <span class="mx-4 text-gray-500">to</span> *@
            @*     <div class="relative"> *@
            @*         <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"> *@
            @*             <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"> *@
            @*                 <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/> *@
            @*             </svg> *@
            @*         </div> *@
            @*         <input asp-for="UserBook.DateFinished" id="datepicker-range-end" name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date end"> *@
            @*     </div> *@
            @* </div> *@
            
            @* <select asp-for="UserBook.ReadingStatus" name="ReadingStatus" class="select select-primary w-full max-w-xs"> *@
            @*   <option disabled selected>Reading Status</option> *@
            @*   <option>Want to Read</option> *@
            @*   <option>Currently Reading</option> *@
            @*   <option>Read</option> *@
            @* </select> *@


            <input type="text" value=@item.author_name[0] asp-for="UserBook.BookName" />
            
            @* <input type="text" value="hello!" asp-for="OpenLibraryBook.q" /> *@
            <input type="submit" class="btn btn-primary" value="Add" />
            
        </form>
        
    }
    else
    {
        <article class="prose">
            <h4>Book cannot be found</h4>
        </article>
    }
}
else
{
    <article class="prose">
        <h4>Book cannot be found</h4>
    </article>
}
